<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!-- Rolling file appender for Debug logs -->
        <RollingFile name="DebugRollingFile" fileName="logs/Timer-debug.log"
                     filePattern="logs/Timer-debug-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- Rolling file appender for Info logs -->
        <RollingFile name="InfoRollingFile" fileName="logs/Timer-info.log"
                     filePattern="logs/Timer-info-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <!-- Rolling file appender for Error logs -->
        <RollingFile name="ErrorRollingFile" fileName="logs/Timer-error.log"
                     filePattern="logs/Timer-error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d{HH:mm} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>
    
    <Loggers>
        <!-- Debug logger -->
        <Logger name="DebugLogger" level="DEBUG" additivity="false">
            <AppenderRef ref="DebugRollingFile"/>
        </Logger>

        <!-- Info logger -->
        <Logger name="InfoLogger" level="INFO" additivity="false">
            <AppenderRef ref="InfoRollingFile"/>
        </Logger>

        <!-- Error logger -->
        <Logger name="ErrorLogger" level="ERROR" additivity="false">
            <AppenderRef ref="ErrorRollingFile"/>
        </Logger>

        <!-- Root logger -->
        <Root level="ERROR">
            <AppenderRef ref="DebugRollingFile"/>
            <AppenderRef ref="InfoRollingFile"/>
            <AppenderRef ref="ErrorRollingFile"/>
        </Root>
    </Loggers>
</Configuration>